<div>
<button dojoType="dijit.form.Button" showLabel="true" title="First" type="button">First</button>
<button dojoType="dijit.form.Button" iconClass="swt-icon swt-icon-carat-1-w" showLabel="false" title="Privious" type="button">Privious</button>
<span class="totalCount"><span>20</span> Items</span>
<button dojoType="dijit.form.Button" iconClass="swt-icon swt-icon-carat-1-e" showLabel="false" title="Next" type="button">Next</button>
<button dojoType="dijit.form.Button" showLabel="true" title="Last" type="button">Last</button>
<button dojoType="dijit.form.Button" showLabel="true" title="Refresh" type="button">Refresh</button>
<label for="display">Display</label><input type="text" class="numberText" name="display" value="10" dojoType="dijit.form.TextBox" trim="true">
</div>