<div>
<label>Match</label>
<input type="radio" name="match" id="${id}_all" value="all"/><label for="${id}_all">All</label>
<input type="radio" name="match" id="${id}_any" value="any"/><label for="${id}_any">Any</label>
<input type="radio" name="match" id="${id}_custom" value="custom"/><label for="${id}_custom">Custom</label>
<label>(of the conditions)</label>
<input type="checkbox" dojoAttachPoint="liveFilterAP" value="livefilter"><label for="mycheck">Live Filter</label>
<div class="customCondition" dojoAttachPoint="customTextBoxAP">
	<label for="${id}_customTB">Custom Condition</label>
	<input type="text" name="customTB" value="" dojoType="dijit.form.TextBox" trim="true" id="${id}_customTB">
	<label>(ex. 1 AND 2 OR 3)</label>
</div>
<table class="filterTable">
	<col width="10%">
	<col width="20%">
	<col width="20%">
	<col width="40%">
	<col width="10%">
	<thead>
		<tr><td>Condition</td><td>Column</td><td>Operator</td><td>Value</td><td>Remove</td></tr>
	</thead>
	<tbody class="filterTableBody" dojoAttachPoint="filterTableBodyAP"></tbody>
</table>
<div class="bottomButtons">
	<button dojoType="dijit.form.Button" dojoAttachPoint="addConditionAP" dojoAttachEvent="onClick:addCondition" iconClass="swt-icon swt-icon-plus" showLabel="false" title="Add" type="button">Add</button>
	<button dojoType="dijit.form.Button" dojoAttachPoint="addConditionAP" dojoAttachEvent="onClick:_onFilter" title="Ok" type="button">Ok</button>
	<button dojoType="dijit.form.Button" dojoAttachPoint="addConditionAP" dojoAttachEvent="onClick:cancel" title="Cancel" type="button">Cancel</button>
</div>
</div>