/* TimePicker */

.dj_ie .steel .dijitTimePickerRtl .dijitTimePickerTickHover,
.dj_ie .steel .dijitTimePickerRtl .dijitTimePickerMarkerHover,
.dj_ie .steel .dijitTimePickerRtl .dijitTimePickerMarkerSelected,
.dj_ie .steel .dijitTimePickerRtl .dijitTimePickerTickSelected {
	margin-left:-6px;
	margin-right:-8px;
	width: 114%;	
}