.steel .swtTable {
	
}
/*Pagination START*/
.steel .swtTablePagination > label {
	padding: 3px;
}
.steel .swtTablePagination .totalCount {
	
}
.steel .swtTablePagination .dijitTextBox.numberText {
	width: 35px;
}
/*Pagination END*/

/*Layout START*/
.steel .swtTableLayout .titleArea {
	height: 26px;
}
.steel .swtTableLayout .titleArea .tableTitle {
	line-height: 26px;
	font-weight: bold;
}
.steel .swtTableLayout .titleArea .swtTableToolbar {
	clear: both;
	float: right;
}
.steel .swtTableLayout .ctxTooolbarArea, .steel .swtTableLayout .bottom {
	background: #FAFAFB;
}
.steel .swtTableLayout .ctxTooolbarArea .swtTableContextualToolbar {
	clear: both;
}
.steel .swtTableLayout .containerNode {
	padding: 5px;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*Layout END*/

/*Contextual Toolbar START*/
.steel .swtTableContextualToolbar {
}
/*Contextual Toolbar END*/

/*Toolbar START*/
.steel .swtTableToolbar {
	
}
.steel .swtTableToolbarSettingsContent {
    height: 300px;
    width: 100px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
/*Toolbar END*/

/*Table START*/
.steel .swtTable .table {
	border-collapse: collapse;
	border-spacing: 0;
}
.steel .swtTable .table .tableHeader {
	background: #d3d3d3;
}

.steel .swtTable .table .tableHeader th {
	padding: 2px;
}