.steel .swtTable {
	xxxborder: 1px solid transparent;
}
.steel .swtTableHover {
	xxxborder-color: #ED8714;
}

.steel .swtTable .messageArea {
	color: #E5322A;
    line-height: 26px;
    padding: 0 5px;
    width: 50%;
    font-style: italic;
}
/*Pagination START*/
.steel .swtTablePagination > label {
	padding: 3px;
}
.steel .swtTablePagination .totalCount {
	
}
.steel .swtTablePagination .dijitTextBox.numberText {
	width: 25px;
}
.steel .swtTablePagination.paginationTop {
	float: right;
	clear: both;
}
.dj_ie .steel .swtTablePagination.paginationTop {
	clear: none;
}
.steel .swtTablePagination.paginationBottom {
	float: right;
	clear: both;
}

/*Pagination END*/

/*Layout START*/
.steel .swtTableLayout .titleArea {
	height: 26px;
}
.steel .swtTableLayout .titleArea .tableTitle {
	line-height: 26px;
	font-weight: bold;
}
.steel .swtTableLayout .titleArea .swtTableToolbar {
	clear: both;
	float: right;
}
.steel .swtTableLayout .ctxTooolbarArea, .steel .swtTableLayout .bottomArea {
	background: #FAFAFB;
}
.steel .swtTableLayout .ctxTooolbarArea .swtTableContextualToolbar {
	clear: both;
}
.steel .swtTableLayout .containerNode {
	xxxpadding: 2px;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	overflow-x  : auto;
	overflow-y  : hidden;
	border-top-color: transparent;
}
.steel .swtTableLayout .headerNode, .steel .swtTableLayout .bodyNode {
	width: auto;
}
.steel .swtTableLayout .headerNode {
	background: #FAFAFB;	
}

.steel .swtTableLayout .bodyNode {
	overflow-y: auto;
}
/*Layout END*/

/*Contextual Toolbar START*/
.steel .swtTableContextualToolbar {
}
/*Contextual Toolbar END*/

/*Toolbar START*/
.steel .swtTableToolbar {
	
}
.steel .swtTableToolbarSettingsContent {
    height: 300px;
    width: 100px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
/*Toolbar END*/

/*Table START*/
.steel .swtTable .tableNode, .steel .swtTable .headerNode table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
.steel .swtTable .tableNode .tableHeader {
	background: #FAFAFB
}

.steel .swtTable .tableHeader td, .steel .swtTable .tableHeader th {
	padding: 5px 4px;
	border: 1px solid #D4D4D4;
}
.steel .swtTable .tableHeader td:FIRST-CHILD {
	border-left-color: transparent;
}
.steel .swtTable .tableNode .tableBody td {
	padding: 3px 4px;
	border: 1px solid transparent;
}
.steel .swtTable .tableNode .oddRow {
	background: #f7f3f7;
}
.steel .swtTable .tableNode .evenRow{
	
}
.steel .swtTable .tableNode .oddRow:HOVER, .steel .swtTable .tableNode .evenRow:HOVER {
	background: #f3d065;/*#eff3ff;*/	
}
.steel .swtTable .tableNode .oddRow:HOVER td, .steel .swtTable .tableNode .evenRow:HOVER td{
	xxxborder-top-color: #d4d4d4;
	xxxborder-bottom-color: #d4d4d4;
}
.steel .swtTable .ellipses {
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;  
    -ms-text-overflow: ellipsis;
}
.dj_chrome .steel .swtTable .ellipses {
	xxxwhite-space: normal;
}
.dj_chrome .steel .swtTable .tableNode .tableBody td div.ellipses {
	padding: 0;
	margin: 0;
}
