<div>
	<div class="${_css.layout}">
	<div dojoAttachPoint="titleArea" class="titleArea">
		<div class="${_css.title} dijitInline ${iconClass}" dojoAttachPoint="tableTitleNode">${tableTitle}</div>
		<div dojoAttachPoint="toolbar"></div>
	</div>
	<div dojoAttachPoint="ctxToolbarArea" class="${_css.ctxtba}">
		<div dojoAttachPoint="contextualToolbar"></div>
		<div dojoAttachPoint="paginationTop"></div>
	</div>

	<div class="${_css.container}" dojoAttachPoint="containerNode">
		<div class="${_css.headerNode}" dojoAttachPoint="headerNode"></div>
		<div class="${_css.bodyNode}" dojoAttachPoint="bodyNode">
			<table class="${_css.table}" dojoAttachPoint="tableNode"></table>
		</div>
	</div>
	<div dojoAttachPoint="paginationArea" class="${_css.bottom}">
		<div dojoAttachPoint="paginationBottom"></div>
		<div class="messageArea" dojoAttachPoint="messageArea">Messages go here!</div>
	</div>
	</div>
</div>