<div>
<button dojoType="dijit.form.Button" showLabel="true" title="Edit" type="button" dojoAttachPoint="editButton" dojoAttachEvent="onClick:edit">${labelEdit}</button>
<button dojoType="dijit.form.Button" showLabel="true" title="Delete" type="button" dojoAttachPoint="deleteButton" dojoAttachEvent="onClick:deleteRow">${labelDelete}</button>
<button dojoType="dijit.form.Button" showLabel="true" title="Add Row" type="button" dojoAttachPoint="addRowButton" dojoAttachEvent="onClick:addRow">${labelAddRow}</button>
<button dojoType="dijit.form.Button" showLabel="true" title="Clear Selections" type="button" dojoAttachPoint="clearSelectionButton" dojoAttachEvent="onClick:clearSelection">${labelClearSelection}</button>
</div>