<div>
<button dojoType="dijit.form.Button" showLabel="true" title="${edit}" type="button" dojoAttachPoint="editButton" dojoAttachEvent="onClick:_edit">${edit}</button>
<button dojoType="dijit.form.Button" showLabel="true" title="${_delete}" type="button" dojoAttachPoint="deleteButton" dojoAttachEvent="onClick:_deleteRow">${_delete}</button>
<button dojoType="dijit.form.Button" showLabel="true" title="${addRow}" type="button" dojoAttachPoint="addRowButton" dojoAttachEvent="onClick:_addRow">${addRow}</button>
<button dojoType="dijit.form.Button" showLabel="true" title="${clearSelection}" type="button" dojoAttachPoint="clearSelectionButton" dojoAttachEvent="onClick:_clearSelection">${clearSelection}</button>
</div>