<a dojoAttachEvent='ondijitclick:onClick' title="${label}" href="${href}"
><span dojoAttachPoint='labelNode'>${label}</span
><span>^</span
><div class="dropDown" dojoAttachPoint='ddNode' style="display:none;position:absolute;border:1px solid black;margin:7px 0 0 -15px;padding:10px;width:200px;">Mixins allow you to embed all the properties of a class into another class by simply including the class name as one of its properties. It’s just like variables, but for whole classes. Mixins can also behave like functions, and take arguments, as seen in the example bellow.</div
></a>