/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four diredtions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */

.aqua .dijitButtonNode {
	/* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */
	-webkit-transition-property:background-color;
 	-webkit-transition-duration:.3s;
}

/*harjeet*/
.aqua .dijitButton .dijitButtonNode,
.aqua .dijitDropDownButton .dijitButtonNode,
.aqua .dijitComboButton .dijitButtonNode,
.aqua .dijitToggleButton .dijitButtonNode {
	/* rules for the dijit.form.*Button widgets (see also ComboButton section below) */
	padding:2px 4px 4px 4px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #d3d3d3;
	background: #f6f6f6 url(../../images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
	xxbackground: #e6e6e6 url(../../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #2E679B;
}

/*arrow styles for down/up/left/right directions*/
.aqua .dijitArrowButtonInner {
	width: 15px;
	height: 15px;
	margin: 0 auto;
	background-image:url("images/buttonArrows.png");
	background-repeat:no-repeat;
	background-position:-51px 53%;
}
.aqua .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -77px 53%;
}
.aqua .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -26px 53%;
}
.aqua .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: 0px 53%;
}
.aqua .dijitDisabled .dijitArrowButtonInner {
	background-position: -151px 53%;
}
.aqua .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -177px 53%;
}
.aqua .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -126px 53%;
}
.aqua .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -100px 53%;
}

.aqua .dijitButtonText {
	padding: 0 0.3em;
	text-align: center;
}

.aqua .dijitDisabled .dijitButtonText {
	color: #7F7F7F;
}

/* harjeet hover status */
.aqua .dijitButtonHover .dijitButtonNode,
.aqua .dijitDropDownButtonHover .dijitButtonNode,
.aqua .dijitComboButton .dijitButtonNodeHover, 
.aqua .dijitComboButton .dijitDownArrowButtonHover,
.aqua .dijitToggleButtonHover .dijitButtonNode {
 	xxxborder: 1px solid #0073ea;
	border: 1px solid #ED8714;
 	background-color: #FFFFFF;
	background-image: none;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition-duration:.2s;
}

.aqua .dijitComboButton .dijitArrowButton {
	border-left-width: 1px;
	padding: 4px 2px 4px 1px;	/* TODO: still needed? */
	border-left-color: transparent;
}
.aqua .dijitComboButton .dijitArrowButton:HOVER {
	border-left-color: #ED8714;
}


/* checked status */
.aqua .dijitButtonActive .dijitButtonNode, 
.aqua .dijitDropDownButtonActive .dijitButtonNode,
.aqua .dijitComboButtonActive .dijitButtonNode,
.aqua .dijitToggleButtonActive .dijitButtonNode {
	background-color: #99cfff;
	box-shadow:0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow:0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
 	-webkit-transition-duration:.1s;
}

/* disabled status */
.aqua .dijitButtonDisabled,
.aqua .dijitDropDownButtonDisabled,
.aqua .dijitComboButtonDisabled,
.aqua .dijitToggleButtonDisabled {
	background-image: none;
	outline: none;
}

.aqua .dijitButtonDisabled .dijitButtonNode,
.aqua .dijitDropDownButtonDisabled .dijitButtonNode,
.aqua .dijitComboButtonDisabled .dijitButtonNode,
.aqua .dijitToggleButtonDisabled .dijitButtonNode { 
	background-position:0px -149px;
	background-color: #e3e3e3;
	border: solid 1px #c9c9c9;
	color: #696969;
	box-shadow:0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow:0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
.aqua .dijitComboButtonDisabled .dijitArrowButton{ 
	border-left-width: 0px;
}
/* for ComboButton */
.aqua table.dijitComboButton {
	border-collapse: separate;	/* override dijit.css so that ComboBox rounded corners work */
}

.dj_ie6 .aqua .dijitButtonNode {
	background-image: none;
}

/*harjeet*/
.aqua .dijitComboButton .dijitStretch {
	-moz-border-radius: 2px 0px 0px 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 2px;
}
/*harjeet*/
.aqua .dijitComboButton .dijitArrowButton {
	-moz-border-radius: 0px 2px 2px 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 0px;
}