/* more specific to override .theme .dijitDialog name. might try baseClass="dojoxLightbox" 
   but that would require additional overriden CSS on top of the original Dialog.css       */
.twilight .dojoxLightbox{
	position:absolute;
	z-index:999;
	overflow:hidden;
	width:100px;
	height:100px; 
	border:11px solid #fff;
	background:#fff url('images/loading.gif') no-repeat center center;
	/* special safari + FF specific rounding + shadows */
	-webkit-box-shadow: 0px 6px 10px #636363; /* #adadad; */
	-webkit-border-radius: 3px;
	-moz-border-radius:4px;
	border-radius: 4px;
}