/* claro/form/Common_rtl.css */
/*claro should not have the icon on the container
.steel .dijitTextBoxRtlError .dijitValidationIcon {
	border-left-width: 0px;
	border-right-width: 1px;
}*/
.steel .dijitTextBoxRtlError .dijitValidationContainer {
	border-left-width: 0px;
	border-right-width: 1px;
}
