.aqua .dijitSliderRtl .dijitSliderProgressBarH,
.aqua .dijitSliderRtl .dijitSliderRemainingBarH,
.aqua .dijitSliderRtl .dijitSliderLeftBumper,
.aqua .dijitSliderRtl .dijitSliderRightBumper,
.aqua .dijitSliderRtl .dijitSliderTopBumper {
	background-position: top right;
}

.aqua .dijitSliderRtl .dijitSliderProgressBarV,
.aqua .dijitSliderRtl .dijitSliderRemainingBarV,
.aqua .dijitSliderRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}

.aqua .dijitSliderRtl .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.aqua .dijitSliderRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.aqua .dijitSliderRtl .dijitSliderIncrementIconH {
	background-position:-357px 50%;
}

.aqua .dijitSliderRtl .dijitSliderDecrementIconH {
	background-position:-251px 50%;
}
