/*
**----------------------------------------------------------------------------
**  twilight theme (make look similar to text box)
**----------------------------------------------------------------------------
*/

.twilight .dojoxMultiSelect {
	margin: 0em 0.1em;
}

.twilight .dojoxMultiSelect {
	border: 1px solid #b5bcc7;
	background-color: #f7fcff;
	line-height: normal;
	-webkit-transition-property:background-color, border;
 	-webkit-transition-duration:.35s;
}

.twilight .dojoxMultiSelectHover {
	border-color: #769dc0;
	background-color: #e9f4fe;
	background-image: url('../../../dijit/themes/twilight/form/images/textBox_back.png');
	background-repeat: repeat-x;
	-webkit-transition-duration:.25s;
}

.twilight .dojoxMultiSelectFocused {
	border: 1px solid #769dc0;
	-webkit-transition-duration:.1s;
}
